.wp-block-blockylicious-piccy-image {
  .media-select {
    width: 100%;
    background-color: #ddd;
    border: none;
    box-shadow: none;
    box-sizing: border-box;
    font-size: 10px;
    font-weight: 700;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background-color: #ccc;
    }
  }
}
